<div class="card">
          <h3><b>{{message.question}}</b></h3>
        <h4><em>{{message.author}}</em></h4>
        <p>{{message.additionalinfo}}</p>
        <button type="button" name="button" class="btn btn-info">Answer</button>
        <button type="button" name="button" class="btn btn-warning">Update</button>
  </div>
