<div class="container-fluid">

    <div id="crouton">
      <ul>
          <li>{{#link-to 'index'}}Home{{/link-to}}</li>
          <li>{{#link-to 'write-question'}}Submit question{{/link-to}}</li>
          <li><a href="https://davadeola.github.io/">Portfolio</a></li>
      </ul>
  </div>


{{outlet}}
</div>
