<h1>Message Board 101</h1>
<div class="row">

  <div class="col-md-6">
    <div class="row">
      {{#each model.messages as |message|}}
      {{message-tile message=message destroyMessage="destroyMessage" upVote="upVote"}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-6">

    <div class="row">
      <div class="well">
        <h1>Popular Questions</h1>
          {{#each model.messages as |message|}}
            <ul>
            <li>{{#link-to "answer" message.id }}{{message.question}}{{/link-to}}</li>
            </ul>
          {{/each}}
</div>
      </div>
  </div>

</div>
